@font-face {
	font-family:'Requiem';
	src:url('Requiem.ttf');
	
}

body { 
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('roman-forum-min.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top:1px black;
  font-size: 2.3em;
  height:100vh;
  font-family:'Requiem', 'Arial';
}

.strokeme {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.center {
	text-align:center;
	display:block;
	margin: auto;
}

#text {
	margin-top: 10px;
	margin-bottom:10px;
}

#title {
	margin-top:25px;
}

#titleh{
	font-size:50px;
}

#expl {
	margin-top:35vh;
}

#result{
	margin-top:25px;
	font-size:2em;
}
